<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ENT NL Technologie</title>
</head>
<style>
    body{
        margin:0;
        padding: 0;
        font-family: sans-serif;
        background-image: url("/public/images/bg1.jpg");
        background-size: cover;

    }
    .login-box{
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: White;
    }
    .login-box h1{
        text-align: center;
        font-size: 40px;
        border-bottom: 4px solid #3b91b2;
        margin-bottom: 50px;
        padding: 13px 0;
    }
    button a{
        color: white;
        text-decoration: none;

    }
    button{
        text-decoration:none;
        width: 100%;
        background: none;
        border: 2px solid #3b91b2;
        padding: 5px;
        font-size: 18px;
        margin-top: 12px;
        cursor: pointer;
        text-align: center;

    }
    button:hover{

        width: 100%;
        background: #3b91b2;
        border: 2px solid #FFFFFF;
        color: #0f056b;
        padding: 5px;
        font-size: 18px;
        text-align: center;

    }
    .btn{
        width: 200px;
    }
</style>
<body>
    <div class="login-box">
        <h1>ENT NL TECHNOLOGIE</h1>
        <table align="center">
            <tr><td><a href="{{ path('login_dirigeant') }}" class="btn btn-warning btn-lg">ADMIN</a></td></tr>
            <tr><td><a href="{{ path('login_employe') }}" class="btn btn-warning btn-lg">EMPLOYE</a></td></tr>
        </table>
    </div>


</body>
</html>